body {background-color: #E0E0E0;}
#container {
 /*border: 1px solid #CCFF00;*/
 background-color: #F8F8F8;
}
#header {
 background-color: #CC3333;
 min-height:100px;
}
#header_supertitle {
 background-color: maroon;
}
#header_title {
 color: #CCFF00;
 background-color: #CC3333;
 font-style: italic;
 font-size: 3em;
 margin: 0;
 padding: 5px 0px;
}
#header_subtitle {
 color: #CCFF00;
 background-color: #CC3333;
 font-style: italic;
 font-size: 2em;
 margin: 0;
 padding: 5px 0px;
}
#nav {
 background-color: #BFD7E2;
}
#main_body {
}
#content {
 background-color: #ffffff;
 min-height:350px;
}
#footer {
 color: black;
 background-color: #E6E6EB;
 text-align: center;
 margin: 0;
 padding: 15px 0px 0px 0px;
}
.language_bar {
 color: #CCFF00;
 background-color: maroon;
 text-align: right;
 margin: 0;
 padding: 5px 0px;
}
.language_bar a {
 color: #CCFF00;
 font-weight: bold;
 margin: 0;
 padding:1ex 1.5ex;
}
.language_bar a:hover {
 color: white;
 background-color: #CC3333;
 padding-top:1ex;
}
.menu_bar {
 color: #0E394E;
 background-color: #809AA7;
 text-decoration: none;
 font-weight: bold;
 font-size: 109%;
 /*text-align: center; */
 margin: 0;
 padding: 5px 0px;
}
/*.menu_bar a {
 color: #0E394E;
 background-color: #809AA7;
 text-decoration: none;
 font-weight: bold;
 margin: 0;
 padding:1ex 1.5ex;
}
.menu_bar a:hover {
 color: #809AA7;
 background-color: #0E394E;
}*/

/* === FLASH MESSAGES === */
div#flash-notice {
 color: #333;
 border: solid 1px #bd7;
 padding: 1em;
 margin: 1em;
 margin-bottom: 2em;
 background-color: #efe;
}
div#flash-warning {
 padding: 0 0 0 25px;
}
div#flash-error {
 color: red;
 border: 1px solid red;
 padding: 1em;
 margin: 1em;
 margin-bottom: 2em;
 background-color: #efe;
}

/* === ERROR MESSAGES === */
#errorExplanation {
 border: 2px solid red;
 padding: 7px;
 padding-bottom: 12px;
 margin-bottom: 20px;
 background-color: #F8F8F8;
}
#errorExplanation h2 {
 text-align: left;
 font-weight: bold;
 padding: 5px 5px 5px 15px;
 font-size: 12pt;
 margin: -7px;
 background-color: #c00;
 color: #fff;
}
#errorExplanation p {
 color: #333;
 margin-bottom: 0;
 padding: 5px;
}
#errorExplanation ul {
}
#errorExplanation ul li {
 font-size: 11pt;
 list-style: square;
}

.selected_category{
  background-color: #fff;
}

.posting_description{
  height: 80px;
  width: 520px;
}

hr.plain {background:#ffffff;color:#ffffff;}  /* same as background color */

.float_right{float:right;}
.float_left{float:left;}

  #mapContainer {
    height: 300px;
  }

.boldtext{
  font-weight:bold;
}

.header_line14 {
  font-size: 14px !important;
  text-decoration: none;
  font-weight: bold !important; }

.header_line12 {
  font-size: 12px !important;
  text-decoration: none;
  font-weight: bold !important; }

.header_line18 {
  font-size: 18px !important;
  text-decoration: none;
  font-weight: bold !important; }

.font_size12 {
  font-size: 12px !important; }

.font_size14 {
  font-size: 14px !important; }

.font_size18 {
  font-size: 18px !important; }

.font_size11 {
  font-size: 11px !important; }

.font_size10 {
  font-size: 10px !important; }

.margin_top5 {
  margin-top: 5px; }

.margin_top10 {
  margin-top: 10px; }

.margin_top20 {
  margin-top: 20px; }

.margin_bottom5 {
  margin-bottom: 5px; }

.margin_bottom10 {
  margin-bottom: 10px; }

.margin_bottom20 {
  margin-bottom: 20px; }

.margin_right10 {
  margin-right: 10px; }
.margin_right15 {
  margin-right: 15px; }

.margin_left2 {
  margin-left: 2px; }

.margin_left5 {
  margin-left: 5px; }

.margin_left10 {
  margin-left: 10px; }

.margin_left20 {
  margin-left: 20px; }

.margin_right20 {
  margin-right: 20px; }


