<h2>Contact Us</h2>
<p>Want to talk about this project, share new ideas or offer your help?<br/>
We are the simplest company to be reached:<br/>
just drop email to Vlad Gurgov vlad (at) neiworld.com or call me 415.830.3771 (24/7)<br/>
I am usually can be found in between St.Petersburg, Russia and San Francisco, CA</p>
<p>Register page <%= link_to("http://www.neiworld.com/account/new", "http://www.neiworld.com/account/new") %>
<br/>
Registration takes 15 seconds - just fill fields below! No more question asked!</p>
<%= link_to "Back to Home", root_path %>
